@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #001219;
}

::-webkit-scrollbar-thumb {
  background: #19212e;
}

::-webkit-scrollbar-thumb:hover {
  background: #19212e;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  --logo: url(../../static/logo-light-2.png) no-repeat;

}

body[data-theme="business"] {
  --logo: url(../../static/logo-dark-2.png) no-repeat;
}

.logo {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: var(--logo);
  background-size: 150px;
  height: 80px;
  padding-left: 160px;
  margin-top: 36px;
}